<!DOCTYPE html>
<html>
<head>
    <title>Akinator</title>
    <link rel="stylesheet" href="../static/correct.css">
</head>
<body>
    <header>
        <h1>Akinator</h1>
    </header>
    <main>
        <div class="button-container">
            <form action="{{url_for('home')}}" method="GET">
                <input type="submit" value="Go Home" class="button">
            </form>
            <form action="{{url_for('akinator')}}" method="GET">
                <input type="submit" value="Play Again" class="button">
            </form>
        </div>
    </main>
    <footer>
        <h2>Have fun playing Akinator!</h2>
    </footer>
</body>
</html>
